{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}


    <h1>{{ project.name }}</h1>

    <div class="cardTello">


    {% for list in project.getAreas() %}
        <table>
            <thead>
                <th>
                    <a href="{{ path('area_edit', {'id':list.id}) }}"><span>{{ list.name }}</span></a>
                </th>
            </thead>
            <tbody>
                {% for card in list.getCards() %}
                    <tr>
                        <td>
                            <a href="{{ path('card_edit', {'id':card.id}) }}">{{ card.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a href="{{ path('card_new') }}">+</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    <table>
        <thead>
            <th>
                <a href="{{ path('area_new') }}">Create new list...</a>
            </th>
        </thead>
    </table>
    </div>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a></br>
    <a href="/trello"> Home </a>

    <style>


        .cardTello{

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        td{
            border: 1px solid;
        }
        table{
            border: 1px solid;
            text-align: center;
        }
        table{
            padding: 2%;
        }
        td, th{
            padding: 10px;
        }
        tr{
            display: block;
            margin-top: 1rem;
        }
    </style>


{{ include('project/_delete_form.html.twig') }}
{% endblock %}
