{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    {% for list in project.getAreas() %}
        <table>
            <thead>
                <th>
                     {{ list.name }}
                </th>
            </thead>
            <tbody>
                {% for card in list.getCards() %}
                    <tr>
                        <td>
                            {{ card.name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}



    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>   </br>
    <a href="/trello"> Home </a>

    <style>

        td{
            border: 1px solid;
        }
        table{
            border: 1px solid;
        }

    </style>


{{ include('project/_delete_form.html.twig') }}
{% endblock %}
